<% action_url = @user.persisted? ? user_url(@user) : users_url %>
<% action_method = @user.persisted? ? :patch : :post %>
<% button_text = @user.persisted? ? "Confirm changes" : "Confirm user" %>

<form action="<%= action_url %>" method="post">
  <%= include_form_auth_token %>
  <input type="hidden" name="_method" value="<%= action_method %>">

<p>
  <label for="user_username">Username:</label>
  <input type="text" name="user[username]" id="user_username" value="<%= @user.username %>">
</p>

<p>
  <label for="user_password">Password:</label>
  <input type="password" name="user[password]" id="user_password">
</p>

  <input type="submit" value="<%= button_text %>">

</form>
