<h1><%= @post.title %></h1>
<strong>Subs:</strong>
<% unless @subs.empty? %>
  <% @subs.each do |sub| %>
    <%= link_to "#{sub.title}", sub_url(sub), method: :get %>
  <% end %>
<% end %>

<h3>Content:</h3>
<h5><%= @post.content %></h5>

<h3>Comments:</h3>
<table>
  <tr>
    <th>author</th>
    <th>comment</th>
    <th>created at</th>
  </tr>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.author.username %></td>
      <td><%= comment.content %></td>
      <td><%= time_ago_in_words(comment.created_at) %> ago</td>
    </tr>
  <% end %>
</table>

<%= button_to "Leave a comment", new_post_comment_url(@post), method: :get %>
<%= button_to "Edit post", edit_post_url, method: :get  %>
<%= button_to "Back to all subs", subs_url, method: :get  %>
