<h1><%= @post.title %></h1>
<strong>Subs:</strong>
<% unless @subs.empty? %>
  <% @subs.each do |sub| %>
    <%= link_to "#{sub.title}", sub_url(sub), method: :get %>
  <% end %>
<% end %>

<h3>Content:</h3>
<h5><%= @post.content %></h5>

<h2>Comments</h2>

<ul>
  <% comments_by_parent_id = @post.comments_by_parent_id %>
  <% comments_by_parent_id[nil]
      .sort_by { |comment| -comment.score }.each do |top_level_comment| %>
  <li>
    <%= render("comments/comment",
    comment: top_level_comment,
    comments_by_parent_id: comments_by_parent_id) %>
  </li>
  <% end %>
</ul>

<%= button_to "Leave a comment", new_post_comment_url(@post), method: :get %>
<%= button_to "Edit post", edit_post_url, method: :get  %>
<%= button_to "Back to all subs", subs_url, method: :get  %>
